@font-face {
    font-family: norseBold;
    src: url(Norse-Bold.otf);
}

body{
    overflow-y: hidden;
}

.container{
    display: flex;
}

#plant{
    width: auto;
    height: 100vh;
    z-index: -1;
}

.blackarea{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 25vh;
    color: whitesmoke;
    height : 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: norseBold, sans-serif;
    font-size: 12vh;
}

#logo{
    height: 15vh;
    width: auto;
    padding-top: 2.5vh;
}

.right{
    display: flex;
    flex-direction: column;
}

.presentation{
    flex:1;
    background-color: whitesmoke;
    box-shadow: inset 0px -2px 5px lightgray;
    padding-left : 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 3.5vh;
}

form{
    flex :2;
    display: flex;
    flex-direction: column;
}

fieldset{
    flex: 1;
    padding: 0;
    padding-left: 2vw;
    border :0;
    margin-inline-start: 0px;
}

button{
    background-color :#596D48;
    color : whitesmoke;
    border : 0px;
    border-radius: 5px;
    padding: 10px;
}

a:link, a:visited {
    color: #596D48;
    text-decoration: none;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5vh;
    height: 25vh;
    /* align-items: center; */

}

legend{
    flex: 0;
    font-size: 4vh;
}

.inputs .inp{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
}

input{
    width: 15vw;
    border: 1px #E5E7EB solid;
    border-radius: 2px;
}

.error{
    border-color: rgb(179, 13, 13);
}

input:focus {
    box-shadow: 2px 2px 2px grey;
}

p{
    max-width: 50vw;
}

#fields{
    box-shadow: 0px 20px 0px black;
    display: flex;
}

#submitarea{
    background-color: whitesmoke;
    padding-left: 2vw;
    padding-top: 2vw;
}

#messagepassword{
    font-size: 1.7vh;
    color: red;
}
